body{
    font-family: 'Courier New', Courier, monospace;
}

@font-face {
    font-family: 'canterbury';
    src: url(fonts/old-english-five.regular.ttf);
}
.logo-main{
    font-family: 'canterbury'; 
   font-size: 2vmax !important;
}
.fire-text{
    font-size: 4vmax;
}

nav ul li a{
    font-size: 18px;

}
.slider li div img {

    width: 250px !important;
     height: 250px !important; 
     margin: 0 50px !important;
}
@media screen and (max-width:1079px) {

    .hide-img-first{
        display: none;
    }
    
}
@media screen and (max-width:724px) {

    .hide-img-second{
        display: none;
    }

    
}
.card-content p{
    font-size: 2vmax;
}
/* #servicios-container{
    margin: 150px auto;
} */
.dropdown-content li{
    margin: 0 auto !important;
}
.dropdown-content li img{
    width: 60% ;
}

a.dropdown-trigger{
    font-size: 4vmin;
    width: 80%;    
    margin: 5px 0;
}





